* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  max-width: 1920px;
}
/* global */
.body {
  width: 1920px;
}
.container {
  width: 1320px;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -12px;
}
.column {
  margin-top: 24px;
  padding: 0 12px;
}

/* hedaer */
.header {
  height: 847px;
  width: 1920px;
  background-color: rgba(30, 40, 50, 0.05);
  position: relative;
}
.header-top {
  width: 1320px;
  position: absolute;
  margin: 30px 300px;
}
.header-top-logo {
  width: 1320px;
  display: flex;
}
.line {
  width: 100%;
  margin-top: 24px;
  border: solid #e3e3e3 1px;
}
.header-top-logo-middle {
  width: 854px;
  height: 34px;
  display: flex;
  position: relative;
}
h1 {
  width: 98px;
  /* height: 34px; */
  color: #000;
  font-family: "AmstelvarAlpha", serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: absolute;
  left: 609px;
  top: 1px;
}
.header-top-image {
  width: 31px;
  /* height: 15px; */
  position: absolute;
  left: 569px;
  top: 11px;
}
.header-top-image-1 {
  width: 31px;
  position: absolute;
  left: 718px;
  top: 11px;
}
.header-top-logo-left i {
  font-size: 20px;
  position: absolute;
  top: 8px;
  left: 1px;
}
.header-top-logo-right {
  font-size: 21px;
  display: flex;
  position: absolute;
  right: -8px;
  top: 7px;
}
.header-top-logo-right i {
  margin-left: 25px;
  margin-right: 10px;
}
.header-top-logo-right a {
  text-decoration: none;
  color: black;
}
.header-top-menu {
  width: 1320px;
  /* height: 24px; */
  margin-top: 30px;
}
.header-top-menu ul {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.header-top-menu ul li {
  list-style: none;
}
.header-top-menu ul li a {
  text-decoration: none;
  color: #000;
  font-family: "Open Sans";
  font-feature-settings: "clig" off, "liga" off;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.005px;
}
.header-main {
  position: relative;
  top: 164px;
}
.header-main-text {
  /* height:364px; */
  position: absolute;
  top: 135px;
  left: 300px;
}
.header-main-text h2 {
  font-family: "Roboto";
  font-feature-settings: "clig" off, "liga" off;
  font-size: 74px;
  font-style: normal;
  font-weight: 300;
  line-height: 55px;
}
.header-main-text-content {
  width: 750px;
  /* height: 119px; */
  font-family: "Roboto";
  font-feature-settings: "clig" off, "liga" off;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 63.5px;
  position: absolute;
  top: 104px;
  left: 4px;
  text-transform: capitalize;
}
.header-main-button {
  width: 225px;
  /* height:72px; */
  background-color: #000;
  color: white;
  display: flex;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  justify-content: center;
  align-items: center;
  gap: 13px;
  position: absolute;
  top: 292px;
  left: 3px;
}
.header-main-button i {
  font-size: 24px;
  margin-left: 30px;
}
.header-main-button p {
  font-size: 29px;
  margin: 19px 26px 19px 0px;
}

.header-main-image img {
  width: 424px;
  height: 541px;
  position: absolute;
  top: 62px;
  right: 412px;
  z-index: 5;
  object-fit: cover;
  border-radius: 160px 0px;
  z-index: 99;
}

.header-main-image-clone {
  width: 424px;
  height: 542px;
  border-radius: 160px 0px;
  border: 2px solid rgba(0, 0, 0, 0.25);
  position: absolute;
  left: 1102px;
  top: 81px;
  z-index: 0;
}
.header-deco-1 {
  width: 215px;
  height: 326px;
  transform: rotate(0deg);
  position: absolute;
  top: 365px;
  left: 1705px;
}
.header-deco-2 {
  position: absolute;
  top: 615px;
}
/* main body */
.main-body {
  width: 1920px;
}
/* brand menu */
.brand-menu {
  width: 1320px;
  margin-top: 90px;
}
.brand-menu ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.brand-menu ul li img {
  width: 200px;
  height: 70px;
}
/* hot category */
.hot-category {
  width: 1320px;
  height: 648px;
  position: relative;
  margin-top: 85px;
  display: flex;
}
.hot-category p {
  font-family: Roboto;
  font-size: 34px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  transform: rotate(270deg);
  transform-origin: left top;
  position: absolute;
  top: 617px;
  left: -54px;
}

.hot-category-left img {
  position: absolute;
  left: -2px;
  width: 648px;
  height: 648px;
  object-fit: cover;
}

.hot-category-right {
  width: 648px;
  position: absolute;
  left: 670px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.hot-category-right img {
  width: 312px;
  height: 312px;
}
.hot-category-right-image {
  margin-top: 23px;
}
/* grid product */
.grid-product {
  width: 1320px;
  position: relative;
  top: 140px;
  z-index: 20;
}
.section-title {
  color: var(--Dark, #000);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Roboto;
  font-size: 33px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.top-section-product {
  display: flex;
  margin-top: 40px;
  align-items: center;
  position: relative;
  margin-bottom: 16px;
}
.top-section-product-category {
  width: 373px;
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  font-feature-settings: "clig" off, "liga" off;
}
.top-section-product-category ul li {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.top-section-product-category ul li a {
  text-decoration: none;
  color: var(--Dark-50, rgba(0, 0, 0, 0.5));
}
.top-section-product-category ul li a:first-child {
  color: var(--Dark, #000);
}
.top-section-product-button {
  background-color: #000;
  padding: 5px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0px;
}
.top-section-product-button p {
  color: var(--White, #fff);
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
  margin-left: 6.5px;
}
.top-section-product-button i {
  color: var(--White, #fff);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  margin-top: -1px;
}

.column-4 {
  width: calc(100% / 4);
  position: relative;
}
.box-image img {
  width: 100%;
  object-fit: cover;
}
.box-content {
  width: 100%;
  margin-top: 14px;
  padding: 0 10px;
}
.box-content-name p {
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: var(--Dark, #000);
  font-feature-settings: "clig" off, "liga" off;
}
.box-content-type p {
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: var(--Dark-50, rgba(0, 0, 0, 0.5));
  font-feature-settings: "clig" off, "liga" off;
}
.box-content-type {
  position: absolute;
  top: 456px;
}
.price {
  display: flex;
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: var(--Dark, #000);
  align-items: center;
  justify-content: right;
  font-feature-settings: "clig" off, "liga" off;
  margin-top: 16px;
}
.new-price {
}

.price:not(:has(.old-price:empty)) .new-price {
  color: #ff6f61;
}
.old-price {
  font-size: 14px;
  margin-right: 14px;
  color: var(--Dark-50, rgba(0, 0, 0, 0.5));
  text-decoration-line: line-through;
}
/* brand banner */
.brand-banner {
  width: 1920px;
  background-color: #010204;
  margin-top: 279px;
  position: relative;
  overflow: hidden;
  z-index: -2;
}

.brand-banner-img img {
  width: 1764.919px;
  object-fit: cover;
  transform: scaleX(-1);
  position: absolute;
  top: -271px;
  left: -190px;
  z-index: -1;
}
.brand-banner-logo {
  margin-top: 51px;
  margin-left: 1080px;
}
.brand-banner-logo img {
  width: 192px;
  object-fit: cover;
  margin-top: 182px;
}
.brand-banner-logo-2 img {
  width: 732px;
  object-fit: cover;
  position: absolute;
  top: 51px;
  left: 1241px;
  opacity: 0.08;
}
.brand-banner-text p {
  width: 510px;
  margin-left: 1080px;
  margin-top: 45px;
  font-family: Roboto;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: 49px;
  color: #fff;
  text-transform: capitalize;
}
.brand-banner-button {
  width: 237px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background-color: #fff;
  margin-top: 51px;
  margin-left: 1080px;
  padding: 18px 26px;
  margin-bottom: 93px;
}
.brand-banner-button p {
  color: var(--Black, #1e2832);
  font-family: Roboto;
  font-size: 29px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}

.slider-products {
  width: 1920px;
  margin-top: 140px;
}

.slider-products-banner {
  /* background-color: pink; */
}
/* instagram */
.instagram {
  margin-top: 462px;
  background-color: var(--Black-5, rgba(30, 40, 50, 0.05));
}
.instagram .container {
  padding-top: 30px;
  padding-bottom: 100px;
}
.instagram-cards {
  margin-top: 60px;
}
.instagram-cards ul li {
  display: flex;
  justify-content: center;
}
.instagram-cards ul li img {
  width: 200px;
  object-fit: cover;
  margin: 0 12px;
}
.instagram .container .section-title {
  margin-top: 70px;
}
.form {
  display: flex;
  justify-content: center;
  margin-top: 73px;
}
.form form {
  width: 643px;
  border-bottom: solid 2px #1e2832;
  margin-right: 27px;
}
.form form input {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
  border: transparent;
  background-color: inherit;
  color: var(--Black-50, rgba(30, 40, 50, 0.5));
  margin-bottom: 13px;
  margin-left: 15px;
}
.form button {
  color: var(--Black, #1e2832);
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
  border: transparent;
  border-bottom: solid 2px #1e2832;
  padding: 0 16px 10px 16px;
}
/* footer */
.footer {
  width: 1320px;
  margin-left: 300px;
}
.footer-content {
  margin-top: 141px;
  display: flex;
}

.left-footer-logo {
  display: flex;
  align-items: center;
}
.left-footer-logo-img-1 {
  width: 31px;
  height: 15px;
}
.left-footer-logo h2 {
  color: var(--Dark, #000);
  font-family: AmstelvarAlpha;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: -3px;
  margin-left: 10px;
  margin-right: 8px;
}
.left-footer p {
  color: var(--Black-75, rgba(30, 40, 50, 0.75));
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
  margin-top: 32px;
  margin-bottom: -23px;
  text-align: left;
}
.footer-left-icons {
  margin-top: 56px;
  margin-left: 7px;
}
.footer-left-icons i {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 38.5px;
}
.footer-menu-1 {
  margin-left: 51px;
}
.footer-menu-2 {
  margin-left: 260px;
}
.footer-menu-3 {
  margin-left: 205px;
}
.footer-menu h3 {
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
  color: var(--Dark, #000);
}
.footer-menu p {
  font-family: "Open Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-transform: capitalize;
  color: var(--Black, #1e2832);
  margin-top: 22px;
  margin-bottom: -10px;
}
.bottom-footer {
  width: 1920px;
  background-color: var(--Black, #1E2832);
  margin-top: 98px;
  padding: 10px 0;
}
.bottom-footer .container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.bottom-footer-left p{
  color: var(--White, #FFF);
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}
.bottom-footer-middle {
  margin-right: 15px;
  margin-top: 2px;
}
.bottom-footer-right {
  color: var(--White, #FFF);
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bottom-footer-right p{
  margin-right: 5px;
}
.bottom-footer-right i{
  margin-right: 18px;
}
